.chat-interface {
  background: linear-gradient(
    90deg,
    rgba(217, 238, 236, 1) 30%,
    rgba(158, 183, 247, 1) 100%
  );
}
.chat-header {
  background-color: rgba(255, 255, 255, 0.754);
}

.chat-interface .chat-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.chat-interface .chat-footer .form-control {
  flex-grow: 1;
  margin-right: 10px;
  margin-bottom: 5px;
}

.chat-interface .chat-footer .btn,
.chat-interface .chat-footer input[type="file"] {
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: 5px;
}

@media (max-width: 576px) {
  .chat-interface .chat-footer .form-control {
    flex-grow: 1;
    margin-right: 0;
  }

  .chat-interface .chat-footer .btn,
  .chat-interface .chat-footer input[type="file"] {
    width: 100%;
    margin: 5px 0;
  }
}
