body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Arial", sans-serif;
}

.navbar {
  background-color: var(--header-background-color) !important;
}

.navbar-brand {
  color: var(--header-text-color) !important;
  font-weight: bold;
}

.navbar .nav-link {
  color: var(--header-text-color) !important;
}

.navbar .navbar-text a {
  color: var(--header-text-color) !important;
}

.chat-interface {
  display: flex;
  flex-direction: column;
  height: 80vh;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--chat-border-color);
}

.chat-header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.chat-body {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
}

.chat-footer {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.chat-body .user {
  color: var(--user-message-text);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  text-align: left;
}

.chat-body .bot {
  background-color: var(--bot-message-background);
  color: var(--bot-message-text);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  text-align: left;
}
